PORT=8000
MONGO_URI=mongodb+srv://mudgalnikhil21:{YOUR_PASSWORD}@cluster0.kilpea1.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET={YOUR_ACCESS_TOKEN_SECRET}
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET={YOUR_REFRESH_TOKEN_SECRET}
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME={YOUR_CLOUDINARY_CLOUD_NAME}
CLOUDINARY_API_KEY={YOUR_CLOUDINARY_API_KEY}
CLOUDINARY_API_SECRET={YOUR_CLOUDINARY_API_SECRET}